<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplem.doubanbook.mapper.CartMapper">

    <update id="setPrise">
        update cart set totalPrice = totalPrice + #{price} where id = #{cid}
    </update>

    <select id="selectCart" parameterType="int" resultType="cart">
        select * from cart where id = #{cid}
    </select>
</mapper>